**/_ignore
paper
not-very.rmd
not-very.html
data/Expt1-data.csv
data/Expt2-data.csv
data/Expt1-ip_id_table.csv
data/Expt2-ip_id_table.csv
code/analyze_data/cluster_plot_expt1.r
code/analyze_data/analysis_expt2.r
code/analyze_data/expt2_output
